<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IRONBEERS LAB LAYOUT</title>
</head>

<body>
    <main>

        <ul>

            <li><a href="/">Index</a></li>
            <li><a href="beers">Beers</a></li>
            <li><a href="random-beer">Random Beer</a></li>
            <button> <a href="beers"></a> Check the Beers </button>
            <button> <a href="random-beer"></a> Random Beer </button>
        </ul>
        {{{body}}}
    </main>

</body>

</html>